<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>font-icons</key>
	<array>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e600</string>
			<key>icon-name</key>
			<string>phone</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e601</string>
			<key>icon-name</key>
			<string>mobile</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e602</string>
			<key>icon-name</key>
			<string>mouse</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e603</string>
			<key>icon-name</key>
			<string>directions</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e604</string>
			<key>icon-name</key>
			<string>mail</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e605</string>
			<key>icon-name</key>
			<string>paperplane</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e606</string>
			<key>icon-name</key>
			<string>pencil</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e607</string>
			<key>icon-name</key>
			<string>feather</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e608</string>
			<key>icon-name</key>
			<string>paperclip</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e609</string>
			<key>icon-name</key>
			<string>drawer</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e60a</string>
			<key>icon-name</key>
			<string>reply</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e60b</string>
			<key>icon-name</key>
			<string>reply-all</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e60c</string>
			<key>icon-name</key>
			<string>forward</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e60d</string>
			<key>icon-name</key>
			<string>user</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e60e</string>
			<key>icon-name</key>
			<string>users</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e60f</string>
			<key>icon-name</key>
			<string>user-add</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e610</string>
			<key>icon-name</key>
			<string>vcard</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e611</string>
			<key>icon-name</key>
			<string>export</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e612</string>
			<key>icon-name</key>
			<string>location</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e613</string>
			<key>icon-name</key>
			<string>map</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e614</string>
			<key>icon-name</key>
			<string>compass</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e615</string>
			<key>icon-name</key>
			<string>location2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e616</string>
			<key>icon-name</key>
			<string>target</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e617</string>
			<key>icon-name</key>
			<string>share</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e618</string>
			<key>icon-name</key>
			<string>sharable</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e619</string>
			<key>icon-name</key>
			<string>heart</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e61a</string>
			<key>icon-name</key>
			<string>heart2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e61b</string>
			<key>icon-name</key>
			<string>star</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e61c</string>
			<key>icon-name</key>
			<string>star2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e61d</string>
			<key>icon-name</key>
			<string>thumbsup</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e61e</string>
			<key>icon-name</key>
			<string>thumbsdown</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e61f</string>
			<key>icon-name</key>
			<string>chat</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e620</string>
			<key>icon-name</key>
			<string>comment</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e621</string>
			<key>icon-name</key>
			<string>quote</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e622</string>
			<key>icon-name</key>
			<string>house</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e623</string>
			<key>icon-name</key>
			<string>popup</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e624</string>
			<key>icon-name</key>
			<string>search</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e625</string>
			<key>icon-name</key>
			<string>flashlight</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e626</string>
			<key>icon-name</key>
			<string>printer</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e627</string>
			<key>icon-name</key>
			<string>bell</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e628</string>
			<key>icon-name</key>
			<string>link</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e629</string>
			<key>icon-name</key>
			<string>flag</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e62a</string>
			<key>icon-name</key>
			<string>cog</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e62b</string>
			<key>icon-name</key>
			<string>tools</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e62c</string>
			<key>icon-name</key>
			<string>trophy</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e62d</string>
			<key>icon-name</key>
			<string>tag</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e62e</string>
			<key>icon-name</key>
			<string>camera</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e62f</string>
			<key>icon-name</key>
			<string>megaphone</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e630</string>
			<key>icon-name</key>
			<string>moon</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e631</string>
			<key>icon-name</key>
			<string>palette</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e632</string>
			<key>icon-name</key>
			<string>leaf</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e633</string>
			<key>icon-name</key>
			<string>music</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e634</string>
			<key>icon-name</key>
			<string>music2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e635</string>
			<key>icon-name</key>
			<string>new</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e636</string>
			<key>icon-name</key>
			<string>graduation</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e637</string>
			<key>icon-name</key>
			<string>book</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e638</string>
			<key>icon-name</key>
			<string>newspaper</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e639</string>
			<key>icon-name</key>
			<string>bag</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e63a</string>
			<key>icon-name</key>
			<string>airplane</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e63b</string>
			<key>icon-name</key>
			<string>lifebuoy</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e63c</string>
			<key>icon-name</key>
			<string>eye</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e63d</string>
			<key>icon-name</key>
			<string>clock</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e63e</string>
			<key>icon-name</key>
			<string>microphone</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e63f</string>
			<key>icon-name</key>
			<string>calendar</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e640</string>
			<key>icon-name</key>
			<string>bolt</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e641</string>
			<key>icon-name</key>
			<string>thunder</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e642</string>
			<key>icon-name</key>
			<string>droplet</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e643</string>
			<key>icon-name</key>
			<string>cd</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e644</string>
			<key>icon-name</key>
			<string>briefcase</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e645</string>
			<key>icon-name</key>
			<string>air</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e646</string>
			<key>icon-name</key>
			<string>hourglass</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e647</string>
			<key>icon-name</key>
			<string>gauge</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e648</string>
			<key>icon-name</key>
			<string>language</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e649</string>
			<key>icon-name</key>
			<string>network</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e64a</string>
			<key>icon-name</key>
			<string>key</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e64b</string>
			<key>icon-name</key>
			<string>battery</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e64c</string>
			<key>icon-name</key>
			<string>bucket</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e64d</string>
			<key>icon-name</key>
			<string>magnet</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e64e</string>
			<key>icon-name</key>
			<string>drive</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e64f</string>
			<key>icon-name</key>
			<string>cup</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e650</string>
			<key>icon-name</key>
			<string>rocket</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e651</string>
			<key>icon-name</key>
			<string>brush</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e652</string>
			<key>icon-name</key>
			<string>suitcase</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e653</string>
			<key>icon-name</key>
			<string>cone</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e654</string>
			<key>icon-name</key>
			<string>earth</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e655</string>
			<key>icon-name</key>
			<string>keyboard</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e656</string>
			<key>icon-name</key>
			<string>browser</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e657</string>
			<key>icon-name</key>
			<string>publish</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e658</string>
			<key>icon-name</key>
			<string>progress-3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e659</string>
			<key>icon-name</key>
			<string>progress-2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e65a</string>
			<key>icon-name</key>
			<string>brogress-1</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e65b</string>
			<key>icon-name</key>
			<string>progress-0</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e65c</string>
			<key>icon-name</key>
			<string>sun</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e65d</string>
			<key>icon-name</key>
			<string>sun2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e65e</string>
			<key>icon-name</key>
			<string>adjust</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e65f</string>
			<key>icon-name</key>
			<string>code</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e660</string>
			<key>icon-name</key>
			<string>screen</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e661</string>
			<key>icon-name</key>
			<string>infinity</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e662</string>
			<key>icon-name</key>
			<string>light-bulb</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e663</string>
			<key>icon-name</key>
			<string>creditcard</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e664</string>
			<key>icon-name</key>
			<string>database</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e665</string>
			<key>icon-name</key>
			<string>voicemail</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e666</string>
			<key>icon-name</key>
			<string>clipboard</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e667</string>
			<key>icon-name</key>
			<string>cart</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e668</string>
			<key>icon-name</key>
			<string>box</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e669</string>
			<key>icon-name</key>
			<string>ticket</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e66a</string>
			<key>icon-name</key>
			<string>rss</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e66b</string>
			<key>icon-name</key>
			<string>signal</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e66c</string>
			<key>icon-name</key>
			<string>thermometer</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e66d</string>
			<key>icon-name</key>
			<string>droplets</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e66e</string>
			<key>icon-name</key>
			<string>uniE66E</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e66f</string>
			<key>icon-name</key>
			<string>statistics</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e670</string>
			<key>icon-name</key>
			<string>pie</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e671</string>
			<key>icon-name</key>
			<string>bars</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e672</string>
			<key>icon-name</key>
			<string>graph</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e673</string>
			<key>icon-name</key>
			<string>lock</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e674</string>
			<key>icon-name</key>
			<string>lock-open</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e675</string>
			<key>icon-name</key>
			<string>logout</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e676</string>
			<key>icon-name</key>
			<string>login</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e677</string>
			<key>icon-name</key>
			<string>checkmark</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e678</string>
			<key>icon-name</key>
			<string>cross</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e679</string>
			<key>icon-name</key>
			<string>minus</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e67a</string>
			<key>icon-name</key>
			<string>plus</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e67b</string>
			<key>icon-name</key>
			<string>cross2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e67c</string>
			<key>icon-name</key>
			<string>minus2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e67d</string>
			<key>icon-name</key>
			<string>plus2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e67e</string>
			<key>icon-name</key>
			<string>cross3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e67f</string>
			<key>icon-name</key>
			<string>minus3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e680</string>
			<key>icon-name</key>
			<string>plus3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e681</string>
			<key>icon-name</key>
			<string>erase</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e682</string>
			<key>icon-name</key>
			<string>blocked</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e683</string>
			<key>icon-name</key>
			<string>info</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e684</string>
			<key>icon-name</key>
			<string>info2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e685</string>
			<key>icon-name</key>
			<string>question</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e686</string>
			<key>icon-name</key>
			<string>help</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e687</string>
			<key>icon-name</key>
			<string>warning</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e688</string>
			<key>icon-name</key>
			<string>cycle</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e689</string>
			<key>icon-name</key>
			<string>cw</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e68a</string>
			<key>icon-name</key>
			<string>ccw</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e68b</string>
			<key>icon-name</key>
			<string>shuffle</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e68c</string>
			<key>icon-name</key>
			<string>arrow</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e68d</string>
			<key>icon-name</key>
			<string>arrow2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e68e</string>
			<key>icon-name</key>
			<string>retweet</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e68f</string>
			<key>icon-name</key>
			<string>loop</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e690</string>
			<key>icon-name</key>
			<string>history</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e691</string>
			<key>icon-name</key>
			<string>back</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e692</string>
			<key>icon-name</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e693</string>
			<key>icon-name</key>
			<string>list</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e694</string>
			<key>icon-name</key>
			<string>add-to-list</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e695</string>
			<key>icon-name</key>
			<string>layout</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e696</string>
			<key>icon-name</key>
			<string>list2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e697</string>
			<key>icon-name</key>
			<string>text</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e698</string>
			<key>icon-name</key>
			<string>text2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e699</string>
			<key>icon-name</key>
			<string>document</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e69a</string>
			<key>icon-name</key>
			<string>docs</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e69b</string>
			<key>icon-name</key>
			<string>landscape</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e69c</string>
			<key>icon-name</key>
			<string>pictures</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e69d</string>
			<key>icon-name</key>
			<string>video</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e69e</string>
			<key>icon-name</key>
			<string>music3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e69f</string>
			<key>icon-name</key>
			<string>folder</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a0</string>
			<key>icon-name</key>
			<string>archive</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a1</string>
			<key>icon-name</key>
			<string>trash</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a2</string>
			<key>icon-name</key>
			<string>upload</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a3</string>
			<key>icon-name</key>
			<string>download</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a4</string>
			<key>icon-name</key>
			<string>disk</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a5</string>
			<key>icon-name</key>
			<string>install</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a6</string>
			<key>icon-name</key>
			<string>cloud</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a7</string>
			<key>icon-name</key>
			<string>upload2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a8</string>
			<key>icon-name</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6a9</string>
			<key>icon-name</key>
			<string>bookmarks</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6aa</string>
			<key>icon-name</key>
			<string>book2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ab</string>
			<key>icon-name</key>
			<string>play</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ac</string>
			<key>icon-name</key>
			<string>pause</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ad</string>
			<key>icon-name</key>
			<string>record</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ae</string>
			<key>icon-name</key>
			<string>stop</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6af</string>
			<key>icon-name</key>
			<string>next</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b0</string>
			<key>icon-name</key>
			<string>previous</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b1</string>
			<key>icon-name</key>
			<string>first</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b2</string>
			<key>icon-name</key>
			<string>last</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b3</string>
			<key>icon-name</key>
			<string>resize-enlarge</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b4</string>
			<key>icon-name</key>
			<string>resize-shrink</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b5</string>
			<key>icon-name</key>
			<string>volume</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b6</string>
			<key>icon-name</key>
			<string>sound</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b7</string>
			<key>icon-name</key>
			<string>mute</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b8</string>
			<key>icon-name</key>
			<string>flow-cascade</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6b9</string>
			<key>icon-name</key>
			<string>flow-branch</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ba</string>
			<key>icon-name</key>
			<string>flow-tree</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6bb</string>
			<key>icon-name</key>
			<string>flow-line</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6bc</string>
			<key>icon-name</key>
			<string>flow-parallel</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6bd</string>
			<key>icon-name</key>
			<string>arrow-left</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6be</string>
			<key>icon-name</key>
			<string>arrow-down</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6bf</string>
			<key>icon-name</key>
			<string>arrow-up-upload</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c0</string>
			<key>icon-name</key>
			<string>arrow-right</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c1</string>
			<key>icon-name</key>
			<string>arrow-left2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c2</string>
			<key>icon-name</key>
			<string>arrow-down2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c3</string>
			<key>icon-name</key>
			<string>arrow-up</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c4</string>
			<key>icon-name</key>
			<string>arrow-right2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c5</string>
			<key>icon-name</key>
			<string>arrow-left3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c6</string>
			<key>icon-name</key>
			<string>arrow-down3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c7</string>
			<key>icon-name</key>
			<string>arrow-up2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c8</string>
			<key>icon-name</key>
			<string>arrow-right3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6c9</string>
			<key>icon-name</key>
			<string>arrow-left4</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ca</string>
			<key>icon-name</key>
			<string>arrow-down4</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6cb</string>
			<key>icon-name</key>
			<string>arrow-up3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6cc</string>
			<key>icon-name</key>
			<string>arrow-right4</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6cd</string>
			<key>icon-name</key>
			<string>arrow-left5</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ce</string>
			<key>icon-name</key>
			<string>arrow-down5</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6cf</string>
			<key>icon-name</key>
			<string>arrow-up4</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d0</string>
			<key>icon-name</key>
			<string>arrow-right5</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d1</string>
			<key>icon-name</key>
			<string>arrow-left6</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d2</string>
			<key>icon-name</key>
			<string>arrow-down6</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d3</string>
			<key>icon-name</key>
			<string>arrow-up5</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d4</string>
			<key>icon-name</key>
			<string>arrow-right6</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d5</string>
			<key>icon-name</key>
			<string>arrow-left7</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d6</string>
			<key>icon-name</key>
			<string>arrow-down7</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d7</string>
			<key>icon-name</key>
			<string>arrow-up6</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d8</string>
			<key>icon-name</key>
			<string>uniE6D8</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6d9</string>
			<key>icon-name</key>
			<string>arrow-left8</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6da</string>
			<key>icon-name</key>
			<string>arrow-down8</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6db</string>
			<key>icon-name</key>
			<string>arrow-up7</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6dc</string>
			<key>icon-name</key>
			<string>arrow-right7</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6dd</string>
			<key>icon-name</key>
			<string>menu</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6de</string>
			<key>icon-name</key>
			<string>ellipsis</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6df</string>
			<key>icon-name</key>
			<string>dots</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e0</string>
			<key>icon-name</key>
			<string>dot</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e1</string>
			<key>icon-name</key>
			<string>cc</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e2</string>
			<key>icon-name</key>
			<string>cc-by</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e3</string>
			<key>icon-name</key>
			<string>cc-nc</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e4</string>
			<key>icon-name</key>
			<string>cc-nc-eu</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e5</string>
			<key>icon-name</key>
			<string>cc-nc-jp</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e6</string>
			<key>icon-name</key>
			<string>cc-sa</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e7</string>
			<key>icon-name</key>
			<string>cc-nd</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e8</string>
			<key>icon-name</key>
			<string>cc-pd</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6e9</string>
			<key>icon-name</key>
			<string>cc-zero</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ea</string>
			<key>icon-name</key>
			<string>cc-share</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6eb</string>
			<key>icon-name</key>
			<string>cc-share2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ec</string>
			<key>icon-name</key>
			<string>danielbruce</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ed</string>
			<key>icon-name</key>
			<string>danielbruce2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ee</string>
			<key>icon-name</key>
			<string>github</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ef</string>
			<key>icon-name</key>
			<string>github2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f0</string>
			<key>icon-name</key>
			<string>flickr</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f1</string>
			<key>icon-name</key>
			<string>flickr2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f2</string>
			<key>icon-name</key>
			<string>vimeo</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f3</string>
			<key>icon-name</key>
			<string>vimeo2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f4</string>
			<key>icon-name</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f5</string>
			<key>icon-name</key>
			<string>twitter2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f6</string>
			<key>icon-name</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f7</string>
			<key>icon-name</key>
			<string>facebook2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f8</string>
			<key>icon-name</key>
			<string>facebook3</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6f9</string>
			<key>icon-name</key>
			<string>googleplus</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6fa</string>
			<key>icon-name</key>
			<string>googleplus2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6fb</string>
			<key>icon-name</key>
			<string>pinterest</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6fc</string>
			<key>icon-name</key>
			<string>pinterest2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6fd</string>
			<key>icon-name</key>
			<string>tumblr</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6fe</string>
			<key>icon-name</key>
			<string>tumblr2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e6ff</string>
			<key>icon-name</key>
			<string>linkedin</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e700</string>
			<key>icon-name</key>
			<string>linkedin2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e701</string>
			<key>icon-name</key>
			<string>dribbble</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e702</string>
			<key>icon-name</key>
			<string>dribbble2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e703</string>
			<key>icon-name</key>
			<string>stumbleupon</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e704</string>
			<key>icon-name</key>
			<string>stumbleupon2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e705</string>
			<key>icon-name</key>
			<string>lastfm</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e706</string>
			<key>icon-name</key>
			<string>lastfm2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e707</string>
			<key>icon-name</key>
			<string>rdio</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e708</string>
			<key>icon-name</key>
			<string>rdio2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e709</string>
			<key>icon-name</key>
			<string>spotify</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e70a</string>
			<key>icon-name</key>
			<string>spotify2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e70b</string>
			<key>icon-name</key>
			<string>qq</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e70c</string>
			<key>icon-name</key>
			<string>instagram</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e70d</string>
			<key>icon-name</key>
			<string>dropbox</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e70e</string>
			<key>icon-name</key>
			<string>evernote</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e70f</string>
			<key>icon-name</key>
			<string>flattr</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e710</string>
			<key>icon-name</key>
			<string>skype</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e711</string>
			<key>icon-name</key>
			<string>skype2</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e712</string>
			<key>icon-name</key>
			<string>renren</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e713</string>
			<key>icon-name</key>
			<string>sina-weibo</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e714</string>
			<key>icon-name</key>
			<string>paypal</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e715</string>
			<key>icon-name</key>
			<string>picasa</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e716</string>
			<key>icon-name</key>
			<string>soundcloud</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e717</string>
			<key>icon-name</key>
			<string>mixi</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e718</string>
			<key>icon-name</key>
			<string>behance</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e719</string>
			<key>icon-name</key>
			<string>circles</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e71a</string>
			<key>icon-name</key>
			<string>vk</string>
		</dict>
		<dict>
			<key>font-name</key>
			<string>entypo</string>
			<key>icon-code</key>
			<string>e71b</string>
			<key>icon-name</key>
			<string>smashing</string>
		</dict>
	</array>
</dict>
</plist>
